<!-- WHEN I visit the site for the first time
THEN I am presented with the homepage, which includes existing blog posts if any have been posted; navigation links for the homepage and the dashboard; and the option to log in 
WHEN I click on the homepage option
THEN I am taken to the homepage -->
<!-- WHEN I click on the homepage option in the navigation
THEN I am taken to the homepage and presented with existing blog posts that include the post title and the date created -->

{{#each blogs as |blog|}}
  <div class="card border-2 border-rose-500">
    <div class="card-header">
      <h4><a class="link" href="/post/{{id}}">{{blog.blog_name}}</a></h4>
      <p>Posted by {{user.username}} on {{format_date created_at}}</p>
    </div>
    <p class="card-body">{{blog.blog_content}}</p>
  </div>
{{/each}}